<div th:fragment="sidebar-fragment" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <!-- <div class="sidebar-brand-icon rotate-n-15"> -->
      <div>
        <img th:src="@{/bootstrap/img/meowwms_white_icon.png}" width="50px"/>
      </div>
      <div class="sidebar-brand-text mx-3">Meow WMS</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
         aria-expanded="true" aria-controls="collapseUsers">
        <i class="fas fa-fw fa-folder"></i>
        <span>회원 정보</span>
      </a>
      <div id="collapseUsers" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">My page</h6>
          <a class="collapse-item" href="">내 정보 보기</a>
          <div class="collapse-divider"></div>
          <h6 class="collapse-header">회원 관리</h6>
          <a class="collapse-item" href="">회원 조회</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseWarehouse"
         aria-expanded="true" aria-controls="collapseWarehouse">
        <i class="fas fa-fw fa-folder"></i>
        <span>창고 관리</span>
      </a>
      <div id="collapseWarehouse" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">창고 관리</h6>
          <a class="collapse-item" href="">창고 등록</a>
          <a class="collapse-item" href="">창고 조회</a>
          <div class="collapse-divider"></div>
          <h6 class="collapse-header">창고 조회 상세</h6>
          <a class="collapse-item" href="">소재지별 조회</a>
          <a class="collapse-item" href="">창고명별 조회</a>
          <a class="collapse-item" href="">창고종류별 조회</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStorage"
         aria-expanded="true" aria-controls="collapseStorage">
        <i class="fas fa-fw fa-folder"></i>
        <span>입고 관리</span>
      </a>
      <div id="collapseStorage" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="">입고 요청</a>
          <a class="collapse-item" href="">입고 현황</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRetrieval"
         aria-expanded="true" aria-controls="collapseRetrieval">
        <i class="fas fa-fw fa-folder"></i>
        <span>출고 관리</span>
      </a>
      <div id="collapseRetrieval" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">출고</h6>
          <a class="collapse-item" href="">출고 요청</a>
          <!-- 여기서 수정버튼으로 수정 가능 -->
          <div class="collapse-divider"></div>
          <h6 class="collapse-header">배차</h6>
          <a class="collapse-item" href="">배차 관리</a>
          <div class="collapse-divider"></div>
          <h6 class="collapse-header">운송장</h6>
          <a class="collapse-item" href="">운송장 관리</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStock"
         aria-expanded="true" aria-controls="collapseStock">
        <i class="fas fa-fw fa-folder"></i>
        <span>재고 관리</span>
      </a>
      <div id="collapseStock" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">재고 조회</h6>
          <a class="collapse-item" href="">품목 현황</a>
          <a class="collapse-item" href="">창고 현황</a>
          <a class="collapse-item" href="">재고 실사</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFinance"
         aria-expanded="true" aria-controls="collapseFinance">
        <i class="fas fa-fw fa-folder"></i>
        <span>재무 관리</span>
      </a>
      <div id="collapseFinance" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">재무 내역 조회</h6>
          <a class="collapse-item" href="">지출 내역</a>
          <a class="collapse-item" href="">매출 내역</a>
          <a class="collapse-item" href="">총정산내역</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInquery"
         aria-expanded="true" aria-controls="collapseInquery">
        <i class="fas fa-fw fa-folder"></i>
        <span>고객 센터</span>
      </a>
      <div id="collapseInquery" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="">공지사항</a>
          <a class="collapse-item" href="">문의글 작성</a>
        </div>
      </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" href="charts.html">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Charts</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="tables.html">
        <i class="fas fa-fw fa-table"></i>
        <span>Tables</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
</div>