<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg.meowwms.mapper.stock.StockMapper"> <!-- Update namespace -->
    <select id="selectAllStock" resultType="com.ssg.meowwms.domain.stock.StockVO"> <!-- Update resultType -->
        SELECT * FROM Stock;
    </select>

    <select id="selectStockByMainCategory" resultType="com.ssg.meowwms.domain.stock.StockVO"> <!-- Update resultType -->
        select * from Stock s
        Join Warehouse w on w.id = s.warehouse_id
        Join Category c on c.id = w.categoryId
        where c.main_category = #{mainCategory};
    </select>

    <select id="selectStockByMiddleCategory" resultType="com.ssg.meowwms.domain.stock.StockVO"> <!-- Update resultType -->
        select * from Stock s
        Join Warehouse w on w.id = s.warehouse_id
        Join Category c on c.id = w.categoryId
        where c.middle_category = #{middleCategory};
    </select>

    <select id="selectStockBySubCategory" resultType="com.ssg.meowwms.domain.stock.StockVO"> <!-- Update resultType -->
        select * from Stock s
        Join Warehouse w on w.id = s.warehouse_id
        Join Category c on c.id = w.categoryId
        where c.sub_category = #{subCategory};
    </select>


    <select id="selectProductStatusList" resultType="com.ssg.meowwms.domain.stock.ProductStatusVO">
        SELECT
            sm.approved_datetime AS approvedDatetime,
            s.id AS stockId,
            w.id AS warehouseId,
            w.name AS warehouseName,
            c.sub_category AS warehouseSubCategory,
            p.id AS productId,
            p.name AS productName,
            s.quantity AS stockQuantity,
            p.price AS productPrice
        FROM
            Stock s
                JOIN Warehouse w ON w.id = s.warehouse_id
                JOIN Category c ON c.id = w.categoryId
                JOIN Product p ON p.id = s.product_id
                JOIN Stock_Movement sm ON sm.product_id = p.id
        WHERE
            (
                s.id LIKE CONCAT('%', #{searchTerm}, '%')
                OR w.id LIKE CONCAT('%', #{searchTerm}, '%')
                OR w.name LIKE CONCAT('%', #{searchTerm}, '%')
                OR c.sub_category LIKE CONCAT('%', #{searchTerm}, '%')
                OR p.id LIKE CONCAT('%', #{searchTerm}, '%')
                OR p.name LIKE CONCAT('%', #{searchTerm}, '%')
                OR s.quantity LIKE CONCAT('%', #{searchTerm}, '%')
                OR p.price LIKE CONCAT('%', #{searchTerm}, '%')
                )
          AND (sm.approved_datetime &gt;= #{from} AND sm.approved_datetime &lt;= #{to})
          AND c.main_category LIKE CONCAT('%', #{mainCategory}, '%')
          AND c.middle_category LIKE CONCAT('%', #{middleCategory}, '%')
          AND c.sub_category LIKE CONCAT('%', #{subCategory}, '%')
          AND p.id LIKE CONCAT('%', #{productId}, '%')
          AND w.id LIKE CONCAT('%', #{warehouseId}, '%');
    </select>


    <select id="selectWarehouseStatusList" resultType="com.ssg.meowwms.domain.stock.WarehouseStatusVO">
        SELECT
            w.id AS warehouseId,
            w.name AS warehouseName,
            c.sub_category AS warehouseSubCategory,
            p.name AS productName,
            s.quantity AS stockQuantity,
            (SELECT quantity FROM Product WHERE id = s.product_id) AS inboundQuantity,
            sod.quantity AS outboundQuantity
        FROM
            Stock s
                JOIN Warehouse w ON w.id = s.warehouse_id
                JOIN Category c ON c.id = w.categoryId
                JOIN Product p ON p.id = s.product_id
                JOIN Stock_Movement sm ON sm.product_id = p.id
                JOIN Shipping_Orders_Detail sod on p.id = sod.product_id
        WHERE
            (
             w.name LIKE CONCAT('%', #{warehouseName}, '%')
            )
          AND c.main_category LIKE CONCAT('%', #{mainCategory}, '%')
          AND c.middle_category LIKE CONCAT('%', #{middleCategory}, '%')
          AND c.sub_category LIKE CONCAT('%', #{subCategory}, '%')
    </select>

</mapper>
