<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg.meowwms.mapper.stock.StockTakingMapper"> <!-- Update namespace -->

    <insert id="insertStocktaking" parameterType="com.ssg.meowwms.domain.stock.StockTakingVO">
        INSERT INTO Stocktaking (stocktaking_id, stock_id, planned_date, inspector, status, status_detail)
        VALUES (#{stockTakingId}, #{stockId}, #{plannedDate}, #{inspector}, #{status}, #{statusDetail})
    </insert>

    <update id="updateStocktaking" parameterType="com.ssg.meowwms.domain.stock.StockTakingVO"> <!-- Update resultType -->
        UPDATE Stocktaking
        SET
        planned_date = #{plannedDate},
        inspector = #{inspector},
        status = #{status},
        status_detail = #{statusDetail}
        WHERE stocktaking_id = #{stockTakingId};

    </update>

    <select id="deleteStocktaking" resultType="com.ssg.meowwms.domain.stock.StockTakingVO"> <!-- Update resultType -->
        DELETE FROM Stocktaking where stocktaking_id = #{stockTakingId};
    </select>

    <select id="selectAllStocktaking" resultType="com.ssg.meowwms.domain.stock.StockTakingVO"> <!-- Update resultType -->
        SELECT stocktaking_id, stock_id, planned_date, inspector, status, status_detail, warehouse_id
        FROM Stocktaking st
        JOIN Stock s on s.id = st.stock_id;
    </select>

    <select id="selectMaxStockTakingId" resultType="Integer">
        SELECT MAX(stocktaking_id) FROM Stocktaking;
    </select>

    <select id="selectSTDetail" resultType="com.ssg.meowwms.domain.stock.StockTakingDetailVO"> <!-- Update resultType -->
        SELECT distinct s.id as stockId,
        p.id as productId,
        p.name as productName,
        w.category as category,
        s.quantity as computerizedStock,
        (p.quantity - sod.quantity) AS actualStock,
        st.status as status,
        st.status_detail as statusDetail

        FROM Stocktaking st
        Join Stock s on s.id = st.stock_id
        JOIN Product p on s.product_id = p.id
        JOIN Warehouse w on p.category_id = w.id
        JOIN Shipping_Orders_Detail sod on p.id = sod.product_id
        where stocktaking_id = #{stockTakingId};
    </select>



    <select id="selectOneStocktaking" resultType="com.ssg.meowwms.domain.stock.StockTakingVO"> <!-- Update resultType -->
        SELECT *
        FROM Stocktaking st
        Join Stock s on s.id = st.stock_id
        where stocktaking_id = #{stockTakingId};

    </select>








</mapper>