<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <!-- Header 프래그먼트 포함 -->
    <th:block th:replace="common/fragments/index :: header-fragment"></th:block>
</head>
<body>

<!-- 페이지 래퍼 -->
<div id="wrapper">
    <!-- 사이드바 -->
    <th:block th:replace="common/fragments/index :: sidebar-fragment"></th:block>

    <!-- 콘텐츠 래퍼 -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- 메인 콘텐츠 -->
        <div id="content">
            <!-- 탑바 -->
            <th:block th:replace="common/fragments/index :: topbar-fragment"></th:block>

            <!-- 페이지 콘텐츠 시작 -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">재고 실사</h1>
                <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                    For more information about DataTables, please visit the <a target="_blank"
                                                                               href="https://datatables.net">official
                        DataTables documentation</a>.</p>
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex justify-content-between align-items-center">
                        <h6 class="m-0 font-weight-bold text-primary">재고 실사</h6>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="date-input">실사일자</label>
                                    <input type="date" id="date-input" class="form-control"/>
                                    <br>

                                    <label for="status-input">상태상세</label>
                                    <select id="status-input" class="form-control">
                                        <option value="완료">완료</option>
                                        <option value="미완료">미완료</option>
                                        <option value="오류">오류</option>
                                    </select>
                                    <br>

                                    <label for="warehouse-input">창고번호(창고가 있는거여야 합니다) </label>
                                    <input type="text" id="warehouse-input" class="form-control"/>
                                    <br>

                                </div>


                                <div class="col-md-6"> <!-- 1열 시작 -->

                                    <label for="inspector-input">담당자</label>
                                    <input type="text" id="inspector-input" class="form-control"/>
                                    <br>

                                    <label for="status-input">상태상세 디테일</label>
                                    <input type="text" id="status-detail-input" class="form-control"/>
                                    <br>

                                    <br>
                                    <div class="text-right">
                                        <br>
                                        <button id="stockTaking-register-button" class="btn btn-primary">등록</button>
                                        <button id="edit-stockTaking-button" class="btn btn-primary">수정</button>
                                        <button id="delete-stockTaking-button" class="btn btn-primary">삭제</button>
                                    </div>
                                </div>

                                </div> <!-- 1열 끝 -->



                            </div> <!-- 각 행의 끝 -->
                            <div class="row">
                                <div class="col-md-6" style="text-align: right;"> <!-- 전체 간격을 일정하게 열 맞춤 -->
                                    <br>


                            </div>
                        </div>
                    </div>
                </div>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">재고 실사 조회</h6>
                    </div>
                    <div class="card-body">
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr style="background-color:#4e73df; color: white;">
                                    <th></th>
                                    <th>실사번호</th>
                                    <th>창고번호</th>
                                    <th>실사일자</th>
                                    <th>담당자</th>
                                    <th>상태</th>
                                    <th>상태상세</th>
                                </tr>
                                </thead>
                                <tfoot>

                                </tfoot>
                                <tbody id="dataTable tbody1">
                                <tr th:each="stockTaking : ${stList}" >
                                    <th>
                                        <input type="checkbox" name="inspection-checkbox" th:id="'inspection-checkbox-' + ${stockTaking.stockTakingId}" th:value="${stockTaking.stockTakingId}">

                                    </th>
                                    <td>
                                        <button type="button" class="btn btn-link toggle-detail" th:data-stock-id="${stockTaking.stockTakingId}" th:text="${stockTaking.stockTakingId}"></button>
                                    </td>

                                    <td th:text="${stockTaking.warehouseId}"></td>
                                    <td th:text="${stockTaking.plannedDate}"></td>
                                    <td th:text="${stockTaking.inspector}"></td>
                                    <td th:text="${stockTaking.status}"></td>
                                    <td th:text="${stockTaking.statusDetail}"></td>
                                </tr>
                                </tbody>
                            </table>



                        </div>
                    </div>
                </div>

                <!-- 재고 실사 디테일 -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">재고 실사 디테일</h6>
                    </div>
                    <div class="card-body">
                        <br>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="total-list-detail-output1" width="100%" cellspacing="0">
                                <thead>
                                <tr style="background-color:#4e73df; color: white;">
                                    <th>제품아이디</th>
                                    <th>제품명</th>
                                    <th>분류</th>
                                    <th>전산재고</th>
                                    <th>실사재고</th>
                                    <th>조정수량</th>
                                    <th>상태</th>
                                    <th>상세정보</th>
                                </tr>
                                </thead>
                                <tbody id="dataTable tbody">
                                <!-- Thymeleaf loop for dynamic detail data -->
                                <tr th:each="detail : ${stDetailList}">
                                    <td th:text="${detail.productId}"></td>
                                    <td th:text="${detail.productName}"></td>
                                    <td th:text="${detail.category}"></td>
                                    <td th:text="${detail.computerizedStock}"></td>
                                    <td th:text="${detail.actualStock}"></td>
                                    <td th:text="${detail.adjustmentQuantity}"></td>
                                    <td th:text="${detail.status}"></td>
                                    <td th:text="${detail.statusDetail}"></td>
                                </tr>
                                </tbody>


                            </table>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- 푸터 -->

</div>
</div>

<!-- 스크롤 탑 버튼 -->
<th:block th:replace="common/fragments/index :: scroll-to-top-fragment"></th:block>

<!-- 로그아웃 모달 -->
<th:block th:replace="common/fragments/index :: logout-modal-fragment"></th:block>

<!-- 스크립트 -->
<th:block th:replace="common/fragments/index :: scripts-fragment"></th:block>

<script th:inline="javascript">
    /* <![CDATA[ */
    $(document).ready(function() {
        $('#dataTable').DataTable({
            language: {
                "lengthMenu": "페이지당 _MENU_ 개 항목 표시",
                "zeroRecords": "검색 결과가 없습니다",
                "info": "페이지 _PAGE_ / _PAGES_",
                "infoEmpty": "사용 가능한 기록이 없습니다",
                "infoFiltered": "(총 _MAX_ 개 기록에서 필터링됨)",
                "search": "검색:",
                "paginate": {
                    "first": "처음",
                    "last": "마지막",
                    "next": "다음",
                    "previous": "이전"
                }
            },
        });
        $('.toggle-detail').click(function() {
            var stockId = $(this).data('stock-id');
            $.ajax({
                url: '/stockTaking/details?stockTakingId=' + stockId,
                type: 'GET',
                success: function(data) {
                    var detailsTable = $('#total-list-detail-output1 tbody');
                    detailsTable.empty(); // 테이블 초기화
                    data.forEach(function(detail) {
                        const newRow = `<tr>
                    <td>${detail.productId}</td>
                    <td>${detail.productName}</td>
                    <td>${detail.category}</td>
                    <td>${detail.computerizedStock}</td>
                    <td>${detail.actualStock}</td>
                    <td>${detail.adjustmentQuantity}</td>
                    <td>${detail.status}</td>
                    <td>${detail.statusDetail}</td>
                </tr>`;
                        detailsTable.append(newRow);
                    });
                },
                error: function(error) {
                    console.log("Error: ", error);
                }
            });
        });
    });
    /* ]]> */
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script th:inline="javascript">
    /* <![CDATA[ */
    $(document).ready(function() {
        $('#edit-stockTaking-button').click(function() {
            // Retrieve the data you want to update
            var plannedDate = $('#date-input').val();
            var inspector = $('#inspector-input').val();
            var status = $('#status-input').val();
            var statusDetail = $('#status-detail-input').val();
            var stockTakingId = $('input[name="inspection-checkbox"]:checked').val(); // Retrieve stockTakingId

            // Retrieve stock and warehouse values
            var stock = $('#stock-input').val();
            var warehouse = $('#warehouse-input').val();

            // Format the planned date to yyyy-MM-dd
            plannedDate = moment(plannedDate).format('YYYY-MM-DD');

            // Create a JSON object with the data
            var data = {
                plannedDate: plannedDate,
                inspector: inspector,
                status: status,
                statusDetail: statusDetail,
                stockTakingId: stockTakingId,
                stock: stock, // Include stock value
                warehouse: warehouse // Include warehouse value
                // Add more fields as needed
            };

            // Send an AJAX POST request to the server
            $.ajax({
                url: '/stockTaking/updateStockTaking',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    alert('Stocktaking data updated successfully');
                    window.location.reload(); // Reload the current page
                    // You can perform additional actions upon successful update if needed
                },
                error: function(error) {
                    alert('Failed to update stocktaking data: ' + error.responseText);
                    // You can handle errors here, for example, display an error message to the user
                }
            });
        });

    });


    $(document).ready(function() {
        $('#stockTaking-register-button').click(function() {
            // Retrieve the data you want to insert
            var plannedDate = $('#date-input').val();
            var inspector = $('#inspector-input').val();
            var status = $('#status-input').val();
            var statusDetail = $('#status-detail-input').val();

            // Retrieve stock and warehouse values
            var stockId = $('#stock-input').val();
            var warehouseId = $('#warehouse-input').val();

            // Format the planned date to yyyy-MM-dd
            plannedDate = moment(plannedDate).format('YYYY-MM-DD');

            // Create a JSON object with the data
            var data = {
                plannedDate: plannedDate,
                inspector: inspector,
                status: status,
                statusDetail: statusDetail,
                stockId: stockId, // Include stock value
                warehouseId: warehouseId // Include warehouse value
                // Add more fields as needed
            };

            // Send an AJAX POST request to the server
            $.ajax({
                url: '/stockTaking/insertStockTaking',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response) {
                    alert('Stocktaking data inserted successfully');
                    window.location.reload(); // Reload the current page
                },
                error: function(error) {
                    alert('Failed to insert stocktaking data: ' + error.responseText);
                    // You can handle errors here, for example, display an error message to the user
                }
            });
        });

    });

    $(document).ready(function() {
        $('#delete-stockTaking-button').click(function() {
            // Retrieve the stockTakingId to delete
            var stockTakingId = $('input[name="inspection-checkbox"]:checked').val();

            if (stockTakingId) {
                // Send an AJAX DELETE request to the server
                $.ajax({
                    url: '/stockTaking/delete/' + stockTakingId, // Adjusted URL to match your controller mapping
                    type: 'DELETE',
                    success: function(response) {
                        alert('Stocktaking data deleted successfully');
                        window.location.reload(); // Reload the current page
                    },
                    error: function(error) {
                        alert('Failed to delete stocktaking data: ' + error.responseText);
                        // You can handle errors here, for example, display an error message to the user
                    }
                });
            } else {
                alert('Please select a stocktaking to delete');
            }
        });
    });

    /* ]]> */
</script>







</body>


</html>
