<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg.meowwms.mapper.inquiry.NoticeMapper">

    <insert id="insertNotice">
        INSERT INTO Notice(user_ID, type, title, content, notice_date)
        VALUES (#{userId}, #{type}, #{title}, #{content}, now())
    </insert>

    <resultMap id="noticeResultMap" type="com.ssg.meowwms.domain.inquiry.NoticeVO">
        <result property="no" column="no"/>
        <result property="type" column="type"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
        <result property="noticeDate" column="notice_date"/>
    </resultMap>

    <select id="selectAllNotices" parameterType="java.util.List" resultMap="noticeResultMap">
        SELECT no, type, title, content, user_id, notice_date FROM Notice
        <where>
            <if test="options != null">
                <foreach collection="options" item="option" separator=" ">
                    <choose>
                        <when test="option.type == 'postType'">
                            AND type LIKE #{option.value}
                        </when>
                        <when test="option.type == 'content'">
                            AND content LIKE CONCAT('%', #{option.value}, '%')
                        </when>
                        <when test="option.type == 'title'">
                            AND title LIKE CONCAT('%', #{option.value}, '%')
                        </when>
                        <when test="option.type == 'contentTitle'">
                            AND (title LIKE CONCAT('%', #{option.value}, '%') OR content LIKE CONCAT('%', #{option.value}, '%'))
                        </when>
                        <when test="option.type == 'writer'">
                            AND user_id = #{option.value}
                        </when>
                    </choose>
                </foreach>
            </if>
        </where>
    </select>

    <select id="selectNotice" parameterType="int" resultType="com.ssg.meowwms.domain.inquiry.NoticeVO">
        SELECT * FROM Notice WHERE no = #{no}
    </select>

    <delete id="deleteNotice" parameterType="int">
        DELETE FROM Notice WHERE no = #{no}
    </delete>

    <update id="updateNotice">
        UPDATE Notice
        SET type = #{type}, content = #{content}, title = #{title}, notice_date = now()
        WHERE no = #{no}
    </update>

</mapper>
