<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg.meowwms.mapper.WarehouseMapper">
    <!--    창고 등록-->
    <select id="insert">
        insert into Warehouse(name, category_id, manager_id, volume, latitude, longitude)
        values (#{name}, #{categoryId}, #{managerId}, #{volume}, #{latitude}, #{longitude})
    </select>

    <!--    창고 한 개 가져오기-->
    <select id="selectOne" resultType="com.ssg.meowwms.domain.warehouse.WarehouseVO">
        select *
        from Warehouse
        where id = #{warehouseId}
    </select>
</mapper>