<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <!-- Header 프래그먼트 포함 -->
    <th:block th:replace="common/fragments/index :: header-fragment"></th:block>
</head>
<body>

<!-- 페이지 래퍼 -->
<div id="wrapper">
    <!-- 사이드바 -->
    <th:block th:replace="common/fragments/index :: sidebar-fragment"></th:block>

    <!-- 콘텐츠 래퍼 -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- 메인 콘텐츠 -->
        <div id="content">
            <!-- 탑바 -->
            <th:block th:replace="common/fragments/index :: topbar-fragment"></th:block>

            <!-- 페이지 콘텐츠 시작 -->

            <!-- 페이지 소개 -->
            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">창고 관리</h1>
                <p class="mb-4">
                    DataTables is a third party plugin that is used to generate the
                    demo table below. For more information about DataTables, please
                    visit the
                    <a target="_blank" href="https://datatables.net"
                    >official DataTables documentation</a
                    >
                </p>

                <!-- 창고 등록 양식 -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">창고 상세</h6>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- 창고 이름 입력 -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="productId-input">창고 이름</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input
                                                    type="text"
                                                    id="productId-input"
                                                    class="form-control"
                                                    disabled
                                            />
                                        </div>
                                    </div>
                                    <br />

                                    <!-- 창고 분류 입력 -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="majorType-input">창고 분류</label>
                                        </div>
                                        <!-- 대분류 -->
                                        <div class="col-md-3">
                                            <input
                                                    type="text"
                                                    id="main-input"
                                                    class="form-control"
                                                    disabled
                                            />
                                        </div>

                                        <!-- 중분류 -->
                                        <div class="col-md-3">
                                            <input
                                                    type="text"
                                                    id="middle-input"
                                                    class="form-control"
                                                    disabled
                                            />
                                        </div>

                                        <!-- 소분류 -->
                                        <div class="col-md-3">
                                            <input
                                                    type="text"
                                                    id="sub-input"
                                                    class="form-control"
                                                    disabled
                                            />
                                        </div>
                                    </div>
                                    <br />

                                    <!-- 창고 위치 입력 -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="address">창고 위치</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input
                                                    type="search"
                                                    id="address"
                                                    class="form-control"
                                                    disabled
                                            />
                                        </div>
                                    </div>
                                    <br />

                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="warehouse-manager">창고 관리자 ID</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input
                                                    type="search"
                                                    id="warehouse-manager"
                                                    class="form-control"
                                                    disabled
                                            />
                                        </div>
                                    </div>
                                    <br />
                                    <br />

                                    <!-- 카카오맵 -->
                                    <div class="row justify-content-center">
                                        <div class="col-md-10">
                                            <div
                                                    id="map"
                                                    style="width: 100%; height: 600px"
                                            ></div>
                                        </div>
                                    </div>
                                    <br />

                                    <!-- 막대 그래프 -->
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">
                                                Bar Chart
                                            </h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="chart-bar">
                                                <canvas id="myBarChart"></canvas>
                                            </div>
                                            <hr />
                                            Styling for the bar chart can be found in the
                                            <code>/js/demo/chart-bar-demo.js</code> file.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- 재고 목록 -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        재고 목록
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <label for="total-list-output">Total 00</label>
                                    <br />
                                    <div class="table-responsive">
                                        <table
                                                class="table table-bordered"
                                                id="warehouseTable"
                                                width="100%"
                                                cellspacing="0"
                                        >
                                            <thead>
                                            <tr style="background-color: #4e73df; color: white">
                                                <th>상품 ID</th>
                                                <th>상품 이름</th>
                                                <th>상품 수량</th>
                                                <th>상품 용량(m<sup>3</sup>)</th>
                                                <th>상세 보기</th>
                                            </tr>
                                            </thead>
                                            <tbody id="warehouseTableBody">
                                            <!-- 동적으로 생성될 행들이 여기에 추가됩니다 -->
                                            </tbody>
                                        </table>

                                        <div class="pagination" style="justify-content: center">
                                            <a href="#" class="pagination-number"
                                            >&laquo;&emsp;</a
                                            >
                                            <a href="#" class="pagination-number">1&emsp;</a>
                                            <a href="#" class="pagination-number">2&emsp;</a>
                                            <a href="#" class="pagination-number">3&emsp;</a>
                                            <a href="#" class="pagination-number">4&emsp;</a>
                                            <a href="#" class="pagination-number">5&emsp;</a>
                                            <a href="#" class="pagination-number">6&emsp;</a>
                                            <a href="#" class="pagination-number">&raquo;</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- 푸터 -->
        <th:block th:replace="common/fragments/index :: footer-fragment"></th:block>
    </div>
</div>

<!-- 스크롤 탑 버튼 -->
<th:block th:replace="common/fragments/index :: scroll-to-top-fragment"></th:block>

<!-- 로그아웃 모달 -->
<th:block th:replace="common/fragments/index :: logout-modal-fragment"></th:block>

<!-- 스크립트 -->
<th:block th:replace="common/fragments/index :: scripts-fragment"></th:block>

<!-- 재고 목록 관련 js -->
<script>
    var products = [
        {
            id: 1,
            name: "갤럭시 24",
            quantity: 25,
            volume: 1,
        },
        {
            id: 2,
            name: "다이슨 진공 청소기",
            quantity: 150,
            volume: 100,
        },
        {
            id: 3,
            name: "아이폰 13",
            quantity: 50,
            volume: 2,
        },
        {
            id: 4,
            name: "맥북 프로 2022",
            quantity: 30,
            volume: 5,
        },
        {
            id: 5,
            name: "LG OLED TV",
            quantity: 80,
            volume: 30,
        },
        {
            id: 6,
            name: "삼성 드럼세탁기",
            quantity: 120,
            volume: 150,
        },
        {
            id: 7,
            name: "LG 냉장고",
            quantity: 90,
            volume: 200,
        },
        {
            id: 8,
            name: "아이패드 에어 4세대",
            quantity: 40,
            volume: 3,
        },
        {
            id: 9,
            name: "Bose 블루투스 스피커",
            quantity: 60,
            volume: 2,
        },
        {
            id: 10,
            name: "삼성 갤럭시 버즈 프로",
            quantity: 100,
            volume: 1,
        },
    ];

    // 재고 목록 테이블의 tbody 요소를 가져옵니다
    var warehouseTableBody = document.getElementById("warehouseTableBody");

    // products 배열을 순회하면서 각 제품에 대한 행을 생성하고 추가합니다
    products.forEach(function (product) {
        // 새로운 행을 생성합니다
        var newRow = document.createElement("tr");

        // 각 제품의 속성을 해당하는 열에 할당합니다
        newRow.innerHTML = `
        <td>${product.id}</td>
        <td>${product.name}</td>
        <td>${product.quantity}</td>
        <td>${product.volume}</td>
        <td><a href="#" class="detail-link" data-toggle="modal" data-target="#warehouseDetailModal">상세 보기</a></td>
    `;

        // 새로운 행을 tbody에 추가합니다
        warehouseTableBody.appendChild(newRow);
    });
</script>

<!-- 카카오맵 api -->
<script
        type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7a41ce0dd37c22d03fc4b8624754162b&libraries=services"
></script>

<script>
    var position = {
        title: "강남 창고",
        latitude: 37.517331925853, // 위도
        longitude: 127.047377408384, // 경도
        manager: "홍길동",
        category: {
            main: "전자제품",
            middle: "휴대폰",
            sub: "스마트폰",
        },
    };

    document.getElementById("productId-input").value = position.title;

    // 창고 분류 입력란에 대, 중, 소 분류를 넣어줍니다
    document.getElementById("main-input").value = position.category.main;
    document.getElementById("middle-input").value = position.category.middle;
    document.getElementById("sub-input").value = position.category.sub;

    // 창고 위치 입력란에 좌표를 주소로 변환하여 넣어줍니다
    var geocoder = new kakao.maps.services.Geocoder();
    var coords = new kakao.maps.LatLng(position.latitude, position.longitude);
    geocoder.coord2Address(
        coords.getLng(),
        coords.getLat(),
        function (result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var address = result[0].address.address_name; // 위치 주소
                document.getElementById("address").value = address;
            }
        }
    );

    document.getElementById("warehouse-manager").value = position.manager;

    var mapContainer = document.getElementById("map"); // 지도를 표시할 div
    var mapOption = {
        center: new kakao.maps.LatLng(position.latitude, position.longitude), // 지도의 중심좌표
        level: 3, // 지도의 확대 레벨
    };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: new kakao.maps.LatLng(position.latitude, position.longitude),
    });

    // LatLngBounds 객체를 생성합니다
    var bounds = new kakao.maps.LatLngBounds();

    // LatLngBounds 객체에 좌표를 추가합니다
    bounds.extend(
        new kakao.maps.LatLng(position.latitude, position.longitude)
    );

    // LatLngBounds 객체에 추가된 좌표들을 기준으로 지도의 범위를 재설정합니다
    map.setBounds(bounds);
</script>

<!-- 그래프 관련 js -->
<!-- 그래프 관련 스크립트 -->
<script>
    Chart.defaults.global.defaultFontFamily =
        "'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,\"Segoe UI\",Roboto,\"Helvetica Neue\",Arial,sans-serif'";
    Chart.defaults.global.defaultFontColor = "#858796";

    var warehouse = {
        title: "강남 창고",
        latitude: 37.517331925853, // 위도
        longitude: 127.047377408384, // 경도
        manager: "홍길동",
        category: {
            main: "전자제품",
            middle: "휴대폰",
            sub: "스마트폰",
        },
        volume: 70, // 창고의 용량
    };

    var products = [
        { id: 1, name: "갤럭시 24", quantity: 25, volume: 1 },
        { id: 2, name: "다이슨 진공 청소기", quantity: 150, volume: 10 },
        { id: 3, name: "아이폰 13", quantity: 50, volume: 1 },
        { id: 4, name: "맥북 프로 2022", quantity: 30, volume: 3 },
        { id: 5, name: "LG OLED TV", quantity: 80, volume: 20 },
        { id: 6, name: "삼성 드럼세탁기", quantity: 120, volume: 10 },
        { id: 7, name: "LG 냉장고", quantity: 90, volume: 10 },
        { id: 8, name: "아이패드 에어 4세대", quantity: 40, volume: 2 },
        { id: 9, name: "Bose 블루투스 스피커", quantity: 60, volume: 2 },
        { id: 115, name: "삼성 갤럭시 버즈 프로", quantity: 100, volume: 1 },
    ];

    var ctx = document.getElementById("myBarChart");
    var myBarChart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: products.map((product) => product.id),
            datasets: [
                {
                    label: "상품 용량(m³)",
                    backgroundColor: "#4e73df",
                    hoverBackgroundColor: "#2e59d9",
                    borderColor: "#4e73df",
                    data: products.map((product) => product.volume),
                },
            ],
        },
        options: {
            maintainAspectRatio: false,
            layout: {
                padding: { left: 10, right: 25, top: 25, bottom: 0 },
            },
            scales: {
                xAxes: [
                    {
                        gridLines: { display: false, drawBorder: false },
                        ticks: { maxTicksLimit: products.length },
                        maxBarThickness: 25,
                    },
                ],
                yAxes: [
                    {
                        ticks: {
                            min: 0,
                            maxTicksLimit: 5,
                            padding: 10,
                            stepSize: warehouse.volume / 4,
                            max: warehouse.volume, // 최대 volume 값으로 설정
                            callback: function (value, index, values) {
                                return value + "m³"; // 세로 축 눈금에 세제곱 미터 추가
                            },
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2],
                        },
                    },
                ],
            },
            legend: { display: false },
            tooltips: {
                titleMarginBottom: 10,
                titleFontColor: "#6e707e",
                titleFontSize: 14,
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: "#dddfeb",
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
                callbacks: {
                    label: function (tooltipItem, chart) {
                        var datasetLabel =
                            chart.datasets[tooltipItem.datasetIndex].label || "";
                        return (
                            datasetLabel + ": " + tooltipItem.yLabel.toFixed(1) + "m³"
                        ); // 소숫점 이하 자리수 조정
                    },
                },
            },
        },
    });
</script>
</body>
</html>
