<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.meowwms.mapper.storage.ProductMapper">
    <insert id="productInsert" parameterType="com.ssg.meowwms.domain.storage.ProductVO">
        INSERT INTO Product (category_id, name, brand, price, sale_price, quantity, volume)
        VALUES (#{categoryId}, #{name}, #{brand}, #{price}, #{salePrice}, #{quantity}, #{volume})
    </insert>

    <update id="productUpdate" parameterType="map">
        UPDATE Product
        SET
            category_id=#{product.categoryId},
            name=#{product.name},
            brand=#{product.brand},
            price=#{product.price},
            sale_price=#{product.salePrice},
            quantity=#{product.quantity},
            volume=#{product.volume}
        WHERE id=#{requestId}
    </update>
    <select id="selectAllProducts" resultType="com.ssg.meowwms.domain.storage.ProductVO">
        SELECT * FROM Product
    </select>
<!--<resultMap id="productResultMap" type="com.ssg.meowwms.domain.product.ProductVO">-->
<!--        <result property="id" column="id"/>-->
<!--        <result property="name" column="name"/>-->
<!--        <result property="categoryId" column="category_id"/>-->
<!--        <result property="price" column="price"/>-->
<!--        &lt;!&ndash; 추가 필드 매핑 &ndash;&gt;-->
<!--</resultMap>-->

<!--<select id="searchProducts" parameterType="map" resultMap="productResultMap">-->
<!--SELECT * FROM Product-->
<!--<where>-->
<!--    <if test="name != null and name != ''">-->
<!--        AND name LIKE CONCAT('%', #{name}, '%')-->
<!--    </if>-->
<!--    <if test="categoryId != null">-->
<!--        AND category_id = #{categoryId}-->
<!--    </if>-->
<!--    <if test="id != null">-->
<!--        AND id = #{id}-->
<!--    </if>-->
<!--</where>-->
<!--</select>-->

</mapper>
