<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssg.meowwms.mapper.storage.StockMovementMapper">

    <!-- insertStock -->
    <insert id="insertStock" parameterType="com.ssg.meowwms.domain.StockMovementVO">
        INSERT INTO Stock_Movement (product_id, user_id, status_code, request_datetime, approved_datetime)
        VALUES (#{productId}, #{userId}, #{statusCode}, #{requestDatetime}, #{approvedDatetime})
    </insert>

    <!-- updateStockMovementStatus -->
    <update id="updateStockMovementStatus" parameterType="map">
        UPDATE Stock_Movement
        SET status_code = #{statusCode}
        WHERE id = #{requestId}
    </update>

    <!-- updateStockMovement -->
    <update id="updateStockMovement" parameterType="com.ssg.meowwms.domain.StockMovementVO">
        UPDATE stock_movement
        SET
            product_id = #{productId},
            user_id = #{userId},
            status_code = #{statusCode},
            request_datetime = #{requestDatetime},
            approved_datetime = #{approvedDatetime}
        WHERE id = #{id}
    </update>

    <!-- selectAllStockMovements -->
    <select id="selectAllStockMovements" resultType="com.ssg.meowwms.domain.StockMovementVO">
        SELECT * FROM stock_movement
    </select>

    <!-- selectMovementByStatus -->
    <select id="selectMovementByStatus" resultType="com.ssg.meowwms.domain.StockMovementVO" parameterType="string">
        SELECT * FROM stock_movement WHERE status_code = #{statusCode}
    </select>

    <!-- selectStockMovementsById -->
    <select id="selectStockMovementsById" resultType="com.ssg.meowwms.domain.StockMovementVO" parameterType="int">
        SELECT * FROM stock_movement WHERE product_id = #{productId}
    </select>

</mapper>
