<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg.meowwms.mapper.category.CategoryMapper">
    <!--  카테고리 전체 조회  -->
    <select id="selectAll" resultType="com.ssg.meowwms.domain.category.CategoryVO">
        select *
        from Category
    </select>

    <!--  대분류를 중복 없이 조회  -->
    <select id="selectMainCategories" resultType="com.ssg.meowwms.dto.category.MainCategoryDTO">
        select distinct main_category as mainCategory
        from Category
    </select>
    
    <select id="selectMiddleCategories" resultType="com.ssg.meowwms.dto.category.MiddleCategoryDTO">
        select distinct middle_category as middleCategory
        from Category
        where main_category = #{mainCategory}
    </select>
</mapper>