<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg.meowwms.mapper.finance.SalesMapper">
    <!-- Insert -->
    <insert id="insertSales" parameterType="com.ssg.meowwms.domain.finance.SalesVO">
        INSERT INTO Sales (amount, sales_date, warehouse_id, type)
        VALUES (#{amount}, #{salesDate}, #{warehouseId}, #{type})
    </insert>

    <!-- Select by Id -->
    <select id="selectSalesById" parameterType="int" resultSets="com.ssg.meowwms.domain.finance.SalesVO">
        SELECT * FROM Sales WHERE id = #{id}
    </select>

    <!-- Select All with Options -->
    <select id="selectAll" parameterType="java.util.List" resultSets="com.ssg.meowwms.domain.finance.SalesVO">
        SELECT * FROM Sales
        <where>
            <if test="optionList != null">
                <foreach collection="optionList" item="option">
                    <choose>
                        <when test="option.type == 'salesId'">
                            AND id = #{option.value}
                        </when>
                        <when test="option.type == 'warehouseId'">
                            AND warehouse_id = #{option.value}
                        </when>
                        <when test="option.type == 'startDate'">
                            AND sales_date >= #{option.value}
                        </when>
                        <when test="option.type == 'endDate'">
                            AND sales_date &lt;= #{option.value}
                        </when>
                        <when test="option.type == 'minCost'">
                            AND amount >= #{option.value}
                        </when>
                        <when test="option.type == 'maxCost'">
                            AND amount &lt;= #{option.value}
                        </when>
                        <when test="option.type == 'type'">
                            AND type LIKE CONCAT('%', #{option.value}, '%')
                        </when>
                    </choose>
                </foreach>
            </if>
        </where>
    </select>

    <delete id="deleteSales" parameterType="int">
        DELETE FROM Sales WHERE id = #{id}
    </delete>

    <update id="updateSales" parameterType="com.ssg.meowwms.domain.finance.SalesVO">
        UPDATE Sales
        SET amount = #{amount}, sales_date = #{salesDate}, warehouse_id = #{warehouseId}, type = #{type}
        WHERE id = #{id}
    </update>

    <!-- Sum Sales -->
    <select id="sumSales" parameterType="java.util.List" resultType="int">
        SELECT IFNULL(SUM(amount),0) FROM Sales
        <where>
            <if test="optionList != null">
                <foreach collection="optionList" item="option">
                    <choose>
                        <when test="option.type == 'year'">
                            AND year(sales_date) = #{option.value}
                        </when>
                        <when test="option.type == 'salesId'">
                            AND id = #{option.value}
                        </when>
                        <when test="option.type == 'warehouseId'">
                            AND warehouse_id = #{option.value}
                        </when>
                        <when test="option.type == 'startDate'">
                            AND sales_date >= #{option.value}
                        </when>
                        <when test="option.type == 'endDate'">
                            AND sales_date &lt;= #{option.value}
                        </when>
                        <when test="option.type == 'minCost'">
                            AND amount >= #{option.value}
                        </when>
                        <when test="option.type == 'maxCost'">
                            AND amount &lt;= #{option.value}
                        </when>
                    </choose>
                </foreach>
            </if>
        </where>
    </select>

    <select id="sumSalesByYear" resultType="com.ssg.meowwms.dto.finance.SalesMonthDTO">
        SELECT
            MONTH(sales_date) AS month,
            SUM(amount) AS salesMonth
        FROM
            Sales
        WHERE
            warehouse_id = #{warehouseId}
          AND YEAR(sales_date) = #{year}
        GROUP BY
            MONTH(sales_date)
        ORDER BY
            salesMonth;
    </select>

    <select id="getAllYears" resultType="String">
        SELECT YEAR(sales_date) AS `year` FROM Sales GROUP BY `year` ORDER BY `year` DESC;
    </select>

    <select id="sumAllSalesByYear" resultType="com.ssg.meowwms.dto.finance.SalesMonthDTO">
        SELECT
            MONTH(sales_date) AS month,
            SUM(amount) AS salesMonth
        FROM
            Sales
        WHERE
          YEAR(sales_date) = #{year}
        GROUP BY
            MONTH(sales_date)
        ORDER BY
            month;
    </select>
</mapper>
