<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <!-- Header 프래그먼트 포함 -->
    <th:block th:replace="common/fragments/index :: header-fragment"></th:block>
</head>
<body>

<!-- 페이지 래퍼 -->
<div id="wrapper">
    <!-- 사이드바 -->
    <th:block th:replace="common/fragments/index :: sidebar-fragment"></th:block>

    <!-- 콘텐츠 래퍼 -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- 메인 콘텐츠 -->
        <div id="content">
            <!-- 탑바 -->
            <th:block th:replace="common/fragments/index :: topbar-fragment"></th:block>

            <!-- 페이지 콘텐츠 시작 -->

            <div class="container-fluid">
                <h1 class="h3 mb-2 text-gray-800">입고 관리</h1>
                <p class="mb-4">
                    DataTables is a third party plugin that is used to generate the
                    demo table below. For more information about DataTables, please
                    visit the
                    <a target="_blank" href="https://datatables.net"
                    >official DataTables documentation</a
                    >
                </p>

                <!-- 창고 등록 양식 -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">입고 요청</h6>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- 상품 이름 입력 -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="productName">상품 이름</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input
                                                    type="text"
                                                    id="productName"
                                                    class="form-control"
                                                    required
                                                    autocomplete="off"
                                                    placeholder="상품 이름을 입력하세요."
                                            />
                                        </div>
                                    </div>
                                    <br/>

                                    <!-- 상품 분류 입력 -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="mainType">상품 분류</label>
                                        </div>
                                        <!-- 대분류 -->
                                        <div class="col-md-3">
                                            <select id="mainType" class="form-control" required>
                                                <option value="" selected disabled hidden>--- 대분류 ---</option>
                                                <th:block th:each="category : ${mainCategories}">
                                                    <option th:text="${category}"></option>
                                                </th:block>
                                            </select>
                                        </div>

                                        <!-- 중분류 -->
                                        <div class="col-md-3">
                                            <select id="middleType" class="form-control" disabled>
                                                <option value="" selected disabled hidden>
                                                    --- 중분류 ---
                                                </option>
                                            </select>
                                        </div>

                                        <!-- 소분류 -->
                                        <div class="col-md-3">
                                            <select id="subType" class="form-control" disabled required>
                                                <option value="" selected disabled hidden>
                                                    --- 소분류 ---
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <br/>

                                    <!-- 창고 선택 -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="warehouseList">창고 목록</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select id="warehouseList" class="form-control" disabled required>
                                                <option value="" selected disabled hidden>
                                                    --- 창고를 선택하세요. ---
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <br/>

                                    <!-- 상품 브랜드 입력 -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="productBrand">상품 브랜드</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input
                                                    type="text"
                                                    id="productBrand"
                                                    class="form-control"
                                                    required
                                                    autocomplete="off"
                                                    placeholder="상품 브랜드를 입력하세요."
                                            />
                                        </div>

                                        <!-- 전체 간격을 일정하게 열 맞춤 -->
                                    </div>
                                    <br/>

                                    <!-- 상품 원가 입력 -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="productPrice">상품 원가</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input
                                                    type="number"
                                                    id="productPrice"
                                                    class="form-control"
                                                    min="0"
                                                    required
                                            />
                                        </div>
                                    </div>
                                    <br/>

                                    <!-- 상품 판매가 입력 -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="productSalePrice">상품 판매가</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input
                                                    type="number"
                                                    id="productSalePrice"
                                                    class="form-control"
                                                    min="0"
                                                    required
                                            />
                                        </div>
                                    </div>
                                    <br/>

                                    <!-- 상품 수량 입력 -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="productQuantity">상품 수량</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input
                                                    type="number"
                                                    id="productQuantity"
                                                    class="form-control"
                                                    min="0"
                                                    required
                                            />
                                        </div>
                                    </div>
                                    <br/>

                                    <!-- 상품 용량 입력 -->
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="productVolume">상품 용량(cell)</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input
                                                    type="number"
                                                    id="productVolume"
                                                    class="form-control"
                                                    min="0"
                                                    step="1"
                                                    required
                                            />
                                        </div>
                                    </div>
                                    <br/>

                                    <!-- 카카오맵 -->
                                    <div class="row justify-content-center">
                                        <div class="col-md-10">
                                            <div
                                                    id="map"
                                                    style="width: 100%; height: 600px"
                                            ></div>
                                        </div>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="text-align: center">
                                    <!-- 전체 간격을 일정하게 열 맞춤 -->
                                    <button
                                            id="retrieval-register-button"
                                            class="btn btn-primary"
                                    >
                                        입고 요청
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- 푸터 -->
        <th:block th:replace="common/fragments/index :: footer-fragment"></th:block>
    </div>
</div>

<!-- 스크롤 탑 버튼 -->
<th:block th:replace="common/fragments/index :: scroll-to-top-fragment"></th:block>

<!-- 로그아웃 모달 -->
<th:block th:replace="common/fragments/index :: logout-modal-fragment"></th:block>

<!-- 스크립트 -->
<script>
    const warehouse = [];

    // 대분류 선택 시 중분류 데이터 요청
    document.getElementById("mainType").addEventListener("change", function () {
        // 선택된 대분류 값 가져오기
        const selectedMainCategory = this.value;

        // Ajax 요청
        $.ajax({
            type: "GET",
            url: "/storage/getMiddleCategories",
            data: {
                mainCategory: selectedMainCategory
            },
            success: function (response) {
                // 성공적으로 데이터를 받았을 때 중분류 select 업데이트
                const middleTypeSelect = document.getElementById("middleType");
                middleTypeSelect.disabled = false;
                middleTypeSelect.innerHTML = "<option value='' selected disabled hidden>--- 중분류 ---</option>";

                // 받은 데이터로 중분류 option 업데이트
                response.forEach(function (middleCategory) {
                    const option = document.createElement("option");
                    option.value = middleCategory
                    option.textContent = middleCategory; // 중분류 이름
                    middleTypeSelect.appendChild(option);
                });
            },
            error: function (xhr, status, error) {
                // 에러 처리
                console.error(error);
                alert("중분류 데이터를 가져오는 중 오류가 발생했습니다.");
            }
        });
    });

    // 중분류 선택 시 소분류 활성화 및 옵션 추가
    document.getElementById("middleType").addEventListener("change", function () {
        // 선택된 대분류와 중분류 값 가져오기
        const selectedMainCategory = document.getElementById("mainType").value;
        const selectedMiddleCategory = this.value;

        // Ajax 요청
        $.ajax({
            type: "GET",
            url: "/storage/getSubCategories",
            data: {
                mainCategory: selectedMainCategory,
                middleCategory: selectedMiddleCategory
            },
            success: function (response) {
                const subTypeSelect = document.getElementById("subType");
                subTypeSelect.disabled = false;
                subTypeSelect.innerHTML = "<option value='' selected disabled hidden>--- 소분류 ---</option>";

                // 받은 데이터로 중분류 option 업데이트
                response.forEach(function (subCategory) {
                    const option = document.createElement("option");
                    option.value = subCategory
                    option.textContent = subCategory; // 소분류 이름
                    subTypeSelect.appendChild(option);
                });
            },
            error: function (xhr, status, error) {
                // 에러 처리
                console.error(error);
                alert("소분류 데이터를 가져오는 중 오류가 발생했습니다.");
            }
        });
    });

    document.getElementById("subType").addEventListener("change", function () {
        // 선택된 대분류와 중분류, 소분류 값 가져오기
        const selectedMainCategory = document.getElementById("mainType").value;
        const selectedMiddleCategory = document.getElementById("middleType").value;
        const selectedSubCategory = this.value;

        // Ajax 요청
        $.ajax({
            type: "GET",
            url: "/storage/getWarehouseWithCategory",
            data: {
                mainCategory: selectedMainCategory,
                middleCategory: selectedMiddleCategory,
                subCategory: selectedSubCategory
            },
            success: function (response) {
                const warehouseListSelect = document.getElementById("warehouseList");

                warehouseListSelect.disabled = false;
                warehouseListSelect.innerHTML = "<option value='' selected disabled hidden>--- 창고를 선택하세요. ---</option>";

                // 받은 데이터로 중분류 option 업데이트
                // 받은 데이터로 창고 정보 업데이트
                response.forEach(function (warehouseData) {
                    // 중복 체크
                    const isWarehouseExist = warehouse.find(w => w.id === warehouseData.id);
                    if (!isWarehouseExist) {
                        // 창고 정보 객체 생성
                        const newWarehouse = {
                            id: warehouseData.id,
                            name: warehouseData.name,
                            latitude: warehouseData.latitude,
                            longitude: warehouseData.longitude
                        };

                        // warehouse 배열에 추가
                        warehouse.push(newWarehouse);

                        // 창고 목록 select 업데이트
                        const option = document.createElement("option");
                        option.value = newWarehouse.id;
                        option.textContent = newWarehouse.name; // 창고 이름
                        warehouseListSelect.appendChild(option);
                    }
                });

            },
            error: function (xhr, status, error) {
                // 에러 처리
                console.error(error);
                alert("소분류 데이터를 가져오는 중 오류가 발생했습니다.");
            }
        });
    });

    // 상품 등록 버튼 클릭 시 이벤트 리스너 추가
    document.getElementById("retrieval-register-button").addEventListener("click", function () {
        // 사용자가 입력한 데이터 수집
        const productName = document.getElementById("productName").value;
        const mainType = document.getElementById("mainType").value;
        const middleType = document.getElementById("middleType").value;
        const subType = document.getElementById("subType").value;
        const warehouseId = document.getElementById("warehouseList").value;
        const productBrand = document.getElementById("productBrand").value;
        const productPrice = document.getElementById("productPrice").value;
        const productSalePrice = document.getElementById("productSalePrice").value;
        const productQuantity = document.getElementById("productQuantity").value;
        const productVolume = document.getElementById("productVolume").value;

        $.ajax({
            type: "POST",
            url: "/storage/request",
            data: {
                productName: productName,
                mainType: mainType,
                middleType: middleType,
                subType: subType,
                warehouseId : warehouseId,
                productBrand : productBrand,
                productPrice : productPrice,
                productSalePrice : productSalePrice,
                productQuantity : productQuantity,
                productVolume : productVolume
            },
            success: function (response) {
                console.log(response);
            },
            error: function (xhr, status, error) {
                // 에러 처리
                console.error(error);
                // alert("소분류 데이터를 가져오는 중 오류가 발생했습니다.");
            }
        });
    });
</script>

<!-- 카카오맵 api -->
<script
        type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7a41ce0dd37c22d03fc4b8624754162b&libraries=services"
></script>

<script>
    var mapContainer = document.getElementById("map"), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3, // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
    if (navigator.geolocation) {
        // GeoLocation을 이용해서 접속 위치를 얻어옵니다
        navigator.geolocation.getCurrentPosition(
            function (position) {
                var lat = position.coords.latitude, // 위도
                    lon = position.coords.longitude; // 경도

                var locPosition = new kakao.maps.LatLng(lat, lon); // 마커가 표시될 위치를 생성합니다

                // 지도 중심을 변경하고, 마커가 표시될 위치와 마커의 위치를 같이 이동시킵니다
                map.setCenter(locPosition);
                map.setLevel(3);

                // 마커와 인포윈도우를 표시합니다
                displayMarker(locPosition);
            },
            function (error) {
                console.error(error);
            }
        );
    } else {
        alert("이 브라우저에서는 Geolocation이 지원되지 않습니다.");
    }

    // 주소로 좌표를 검색합니다
    function searchAddress(address) {
        var geocoder = new kakao.maps.services.Geocoder(); // 주소-좌표 변환 객체를 생성합니다

        geocoder.addressSearch(address, function (result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords,
                });
                var infowindow = new kakao.maps.InfoWindow({
                    content:
                        '<div style="width:150px;text-align:center;padding:6px 0;">' +
                        document.getElementById("productName").value +
                        "</div>",
                });
                infowindow.open(map, marker);
                map.setCenter(coords);
            } else {
                alert("지도 검색에 실패했습니다: " + status);
            }
        });
    }

    var prevMarker = null; // 이전 마커를 저장할 변수

    // 창고 목록 select 태그에서 변경이 감지될 때의 이벤트 처리
    const warehouseSelect = document.getElementById("warehouseList");

    warehouseSelect.addEventListener("change", function () {
        // 선택된 창고의 ID 가져오기
        const selectedWarehouseId = parseInt(this.value);

        // 선택된 창고 정보 찾기
        const selectedWarehouse = warehouse.find(
            (warehouse) => warehouse.id === selectedWarehouseId
        );

        if (selectedWarehouse) {
            // 선택된 창고의 위치 정보 가져오기
            const latitude = selectedWarehouse.latitude;
            const longitude = selectedWarehouse.longitude;
            const warehouseName = selectedWarehouse.name;

            // 주소 가져오기
            var geocoder = new kakao.maps.services.Geocoder();
            var coords = new kakao.maps.LatLng(latitude, longitude);
            geocoder.coord2Address(
                coords.getLng(),
                coords.getLat(),
                function (result, status) {
                    if (status === kakao.maps.services.Status.OK) {
                        var address = result[0].address.address_name; // 위치 주소

                        // 인포윈도우 내용 업데이트
                        const infowindowContent = `
                            <div style="width:200px; text-align:center; padding:6px 0;">
                                <div>${warehouseName}</div>
                                <div><small>${address}</small></div> <!-- 수정: 지번 주소 표시 -->
                            </div>`;
                        const infowindow = new kakao.maps.InfoWindow({
                            content: infowindowContent,
                        });

                        // 인포윈도우 표시
                        infowindow.open(map, marker);
                    } else {
                        alert("지도 검색에 실패했습니다: " + status);
                    }
                }
            );

            // 새로운 마커 생성
            const markerPosition = new kakao.maps.LatLng(latitude, longitude);
            const marker = new kakao.maps.Marker({
                position: markerPosition,
            });

            // 지도 중심 이동
            map.setCenter(markerPosition);

            // 이전에 추가된 마커가 있으면 제거
            if (prevMarker) {
                prevMarker.setMap(null);
            }

            // 새로운 마커로 갱신
            marker.setMap(map);

            // prevMarker 업데이트
            prevMarker = marker;
        }
    });
</script>

<th:block th:replace="common/fragments/index :: scripts-fragment"></th:block>

</body>
</html>
